.App {
  background-color: #f9f9f9;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title-text {
  margin: 0;
  font-size: 5vw;
  font-family: Helvetica;
  letter-spacing: 5vw;
  margin-right: -5vw;
  font-weight: bold;
  color: #31353f;
}

.App-body {
  background-color: #282c34;
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f9f9f9;
}

.Body-text {
  padding-left: 10vw;
  padding-right: 10vw;
}

.App-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Footer-text {
  margin: 0;
  font-size: 5vw;
  font-family: Helvetica;
  letter-spacing: 3vw;
  margin-right: -3vw;
  font-weight: bold;
  color: #31353f;
}